.create-person {
  display: grid;
  gap: 12px;

  .form-item {
    display: grid;
    gap: 6px;

    label {
      font-size: 16px;
    }

    input,
    select {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid $light-blue-color;
    }
  }
}
