.person {
  background: $bg-white-color;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid $border-color;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: auto 1fr auto;
  gap: 8px;
  position: relative;

  .delete-icon{
    cursor: pointer;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .number {
    color: $gray-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 17.64px;
    padding: 4px 0;
  }

  .personal-data,
  .professional-data {
    display: grid;
    gap: 6px;

    .field-name {
      font-weight: 700;
      margin-left: 2px;
    }
  }

  .person-details {
    display: grid;
    gap: 6px;
    font-size: 14px;
  }

  button {
    @include btn-style($primary-color);
    align-self: flex-end;
  }
}
