.details{
    display: grid;
    gap: 16px;
    overflow: auto;
    max-height: 70vh;

    .person-info{
        display: grid;
        gap: 12px;

        .title{
            font-weight: 700;
            font-size: 16px;
            position: relative;
            width: fit-content;
            margin-bottom: 10px;
            display: flex;
            align-items: end;

            img{
                margin-left: 3px;
            }

            &::after{
                content: "";
                right: 0;
                bottom: -6px;
                height: 3px;
                width: 80%;
                border-radius: 100px;
                background-color: $primary-color;
                position: absolute;
            }
        }

        .personal-info, .role-info{
            margin-top: 10px;
            display: grid;
            gap: 3px;

            .info-item{
                font-size: 14px;
            }
        }
    }
}