.details{
    display: grid;
    gap: 16px;

    .title{
        @include title-style('primary-title');
    }

    .details-container{
        overflow: auto;
        height: 60vh;
        display: grid;
        gap: 6px;

        .info-item{
            display: grid;
            gap: 2px;

            label{
                font-size: 14px;
                font-weight: 700;
            }
        }
    }
    
    .options{
        margin-top: 10px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;

        .edit-btn{
            @include btn-style($primary-color);
        }

        .cancel-btn{
            @include btn-style($gray-btn-color);
        }
    }
}