.people-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .new-person {
    position: absolute;
    bottom: 30px;
    right: 15px;
    z-index: 1;
    background-color: $light-blue-color;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    box-shadow: $shadow-color 1.95px 1.95px 2.6px;
  }
}
