// SIZES
$tablet-m-size: 550px;
$desktop-m-size: 834px;

$header-mobile-h: 48px;

$max-width-t: 550px;
$max-width-d: 834px;

//COLORS
$bg-white-color: #ffffff;
$bg-color: #f6f7f9;

$border-color: #f3f5f7;

$shadow-color: #959da533;

$primary-color: #3563e9;
$black-color: #111111;
$gray-color: #90a3bf;
$light-blue-color: #b2ccff;
