// SIZES
$tablet-m-size: 550px;
$desktop-m-size: 834px;

$header-mobile-h: 48px;

//COLORS
$bg-nav-color: #ffffff;
$bg-color: #f6f7f9;

$border-color: #f3f5f7;

$primary-color: #3563e9;
$black-color: #111111;
