.main-layout {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto 1fr;
  grid-template-areas: "he" "fi" "pa";

  .page-layout {
    grid-area: pa;
    background-color: $bg-color;
    padding: 10px 20px;
    height: calc(100vh - $header-mobile-h);
  }

  @include tablet-layout {
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: "he pa" "he pa";

    .page-layout {
      padding: 20px;
      height: 100vh;
    }
  }

  @include desktop-layout {
  }
}
